

 <% include partials/header %>
<h1>Welcome</h1>
<img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/17499155_1581597861854610_3696917504265164512_n.jpg?oh=6f1102eb89c4de84ee478975e1a113dd&oe=5A0C47EA">
<% include partials/footer %>
